body > .header .navbar {
  height: 50px;
  margin-bottom: 0;
  margin-left: 0;
}
.articles, .commandes{
	padding: 2px;
	--width: 10%;
	height:100px;
}
button{
	padding: 5px;
	margin:0px;
}
.bg-bl{
	color: #f9f9f9;
	margin:5px;
	cursor:pointer;
}
.small-box {
	height:100%;
	width :100%;
} 
img {
	width: 25%;
	padding : 3px;
}
h4{
    margin-bottom: 0px;
    margin-top: 0px;
}
p{
white-space:nowrap;
}